/* GENERAL RESET SETTINGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /GENERAL RESET SETTINGS */

/* GOOGLE FONTS */
body{
  font-family: 'Roboto', sans-serif;

}
/* /GOOGLE FONTS */

/* WRAPPER-NAV */
header {
  background-color: #0C325A;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.wrapper{
width: 85%;
margin: 0 auto;
}

.wrapper img{
  width: 140px;
  padding-top: 25px;
  padding-right: 40px;
  margin: 0 auto;
}

.main-nav, .main-nav > ul, .main-nav li{
  display: inline-block;
}

.main-nav > ul{
  list-style: none;
}

.main-nav ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
}

.main-nav ul:last-child{
  margin-right: 500px;
}

.side-nav{
  padding-bottom: 100px;
}

.side-nav, .side-nav > ul, .side-nav li{
  display: inline-block;
}

.side-nav ul li a{
text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
}

#button-1{
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 6px 14px;
}

#button-2{
  border: 1px solid #7CBB02;
  background-color: #7CBB02;
  border-radius: 5px;
  padding: 6px 10px;
}

/*/ WRAPPER-NAV */

/* HERO-CONTAINER */
#hero{
  width: 85%;
  margin: 0 auto;
  height: 430px;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center right;
  position: relative;
}

  #hero h1{
  color: #FFFFFF;
  font-size: 60px;
}

#hero button{
  display:block;
  border: 1px solid #7CBB02;
  background-color: #7CBB02;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 18px 6px;
}

.title-button{
  padding-top: 120px;
}
/* /HERO-CONTAINER */

/* UPPER-MAIN */
.upper-main{
  height: auto;
  background-color: #D3D3D3;
  text-align: center;
  vertical-align: middle;
}

.upper-main > h3{
padding-top: 35px;
margin-bottom: 10px;
}

.upper-main > h4{
padding-bottom: 20px;
color: #808080;
font-size: 14px;
font-weight: 400;
}
/* /UPPER-MAIN */

/* COLUMN-LAYOUT */
.column-layout{
  margin: 0 auto;
}
.clearfix{
  clear: both;
  content: "";
  display: table;
}

.col-left, .col-center, .col-right{
  float: left;
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 35px;
  text-align: center;
  line-height: 22px;
}

  .col-left > img, .col-center > img, .col-right > img{
  width: 100px;
  height: 140px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.col-left > h3, .col-center > h3, .col-right > h3{
  color: #7CBB02;
  padding-top: 20px;

}

.col-left > hr, .col-center > hr, .col-right > hr{
  width: 20%;
  margin: 10px auto;
}

.col-left > p, .col-center > p, .col-right > p{
  color: #808080;
  line-height: 26px;
}
/* /COLUMN-LAYOUT */

/* LOWER-MAIN */
.lower-main{
  width: 85%;
  margin: 0 auto;
}

.l-main-1, .l-main-2{
  float: left;
  padding-top: 50px;
  }

.l-main-1{
width: 50%;
}

.l-main-1 > img{
width: 70%;
margin-left: 50px;
}

.l-main-2{
  width: 50%;
  text-align: justify;
}

.l-main-2-text > h2{
  padding-bottom: 15px;
  line-height: 36px;
}

.l-main-2-text > p{
  padding-bottom: 15px;
}
/* /LOWER-MAIN */

/* FOOTER */

footer{
  width: 100%;
  height: 130px;
  background-color: #d3d3d3;
}

.f-container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.f-con-1, .f-con-2{
  width: 50%;
  float: left;
  height: 100%;
  position: relative;
}

.f-con-1 h2{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

.f-con-2 div{
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}

.f-con-2-options *{
  margin-right: 10px;
}

.f-con-2-options select, .f-con-2-options label {
  color: #808080;
}

.green{
  border: 1px solid #7CBB02;
  background-color: #7CBB02;
  border-radius: 4px;
  padding: 8px 6px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
}

#help{
  display: inline-block;
  margin-top: 20px;
  position: absolute;
  right: 15%;
}
/* /FOOTER */
