/* RESET SETTINGS */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* /RESET SETTINGS */

/* FONT-FAMILY */
body{
    font-family: 'Roboto', sans-serif;
}
/* /FONT-FAMILY */

header{
  margin-top: 10px;
  background-color: #0C325A;
}

#header-wrapper{
  width: 93%;
  margin: 0 auto;
}

#logo{
  width: 125px;
  margin-right: 40px;
}

.main-nav{
display: inline-block;
}

.main-nav ul li{
  display: inline-block;
}

.main-nav ul li a{
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 10px;
}
.main-nav ul:last-child{
  margin-right: 145px;
}

.side-nav{
  display: inline-block;
  margin-bottom: 100px;
}

.side-nav ul li {
  display: inline-block;
}

.side-nav ul li a{
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 15px;
}
.side-nav ul:last-child{
  margin-right: 5px;
}

#button-1{
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 6px 24px;
}
#button-2{
  border: 1px solid #7CBB02;
  background-color: #7CBB02;
  border-radius: 5px;
  padding: 6px 10px;
}

#header-hero{
height: auto;
margin-top: 90px;
}

.hero-1, .hero-2, h1{
  display: inline-block;
}

.hero-1{
margin-left: 80px;
position: relative;
bottom: 70px;
}

h1{
color: #FFFFFF;
font-size: 40px;
}

.hero-1 button{
  display:block;
  border: 1px solid #7CBB02;
  background-color: #7CBB02;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 18px 6px;
}

.hero-2{
  width: 55%;
  position: relative;
  top: 30px;
}

.hero-2 > img{
width: 100%;
position: absolute;
bottom: 10px;
}

.upper-main{
  height: auto;
  background-color: #D3D3D3;
  text-align: center;
  vertical-align: middle;
}

.upper-main > h3{
padding-top: 35px;
margin-bottom: 10px;
}

.upper-main > h4{
padding-bottom: 20px;
color: #808080;
font-size: 14px;
font-weight: 200;
}

/* #column-layout::after{
  clear: both;
  content: "";
  display:block;
} */

/* COLUMNS LAYOUT */

.columns{
  width: 80%;
  margin: 0 auto;
}

.col-left, .col-center, .col-right{
  float: left;
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
    text-align: center;
  }

.col-left{
text-align: center;
}

.col-left > img, .col-center > img, .col-right > img{
  width: 100px;
  height: 140px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.col-left > h3, .col-center > h3, .col-right > h3{
  color: #7CBB02;
  padding-top: 20px;
}

.col-left > hr, .col-center > hr, .col-right > hr{
  width: 20%;
  margin: 10px auto;
}

.col-left > p, .col-center > p, .col-right > p{
  color: #808080;
  line-height: 20px;

}
.col-left, .col-center, .col-right{

}
